h1 {
    display: inline-block;
}

.part {
    text-align: left;
    padding: 19px 27px;
    background-image: url("../pic/tipclick.png");
    width: 240px;
    color: white;
    font-weight: 800;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: text-top;
    cursor: pointer;
}
.part > span {
    margin-left: 5px;
    display: inline-block;
    transition-duration: 0.5s;
}
.change_rotate > span:first-child {
    transform: rotate(90deg);
}

table {
    width: 100%;
    padding: 10px 25px;
}
.title_group {
    width: 56px;
}
.character {
    width:100px;
}
.msg, .ans {
    text-align: left;
}
thead > tr > td {
    font-weight: bold;
    text-align: center;
    line-height: 2;
    border-style: dotted;
    border-color: #b4b1a0;
    border-collapse: collapse;
    border-width: 2px 2px 2px 0px;
}
.part_data > table > tbody > tr > td {
    line-height: 2;
    border-style: dotted;
    border-color: #b4b1a0;
    border-collapse: collapse;
    border-width: 0px 2px 2px 0px;
}
.part_data > table > tbody > tr:first-child > td {
    border-top-width: 2px;
}
.part_data > table tr > td:last-child {
    border-right-width: 0px;
}