.class_bar {
    position: fixed;
    width: 100%;
    /*擋住滾動後的資料用*/
    top: 0;
    left: 0;
    padding-top: 10px;
    background-image: url(../pic/bg.png);
    background-size: 100% 1px;
    /*擋角色圖*/
    z-index: 1;
}
.class_bar > button {
    border: none;
    background-color: #00000000;
    cursor: pointer;
    padding: 0px;
}
.class_bar > button > img {
    display: block;
    width: 140px;
    pointer-events: none;
}
    .class_bar > button > span {
        position: absolute;
        color: white;
        font-weight: 800;
        transform: translate(-56%, -114%);
        pointer-events: none;
    }

.character_bar {
    padding-top: 35px;
}
.character_bar > div > input {
    margin: 7px;
}

.border {
    width: 715px;
    height: 22px; /*拿圖片高度用*/
    margin: auto;
    background-image: url(../pic/border.png);
    background-repeat: repeat-x;
}
.end_border {
    transform: rotateX(180deg);
}

.character_note_body {
    width: 715px;
    margin: auto;
    background-image: url(../pic/body.png);
    background-repeat: repeat;
}

.block_1 {
    /*寬高跟角色同*/
    width: 250px;
    height: 250px;
    text-align: initial;
    display: inline-block;
}
.character_flag {
    width: 100px;
    position: absolute;
    margin-left: 150px;
}
.character_pic {
    width: 250px;
    position: absolute;
}
.block_2 {
    width: 460px; /*character_note_body-block_1*/
    height: 250px;
    display: inline-block;
    vertical-align: top;
}
.character_name {
    font-size: xx-large;
    font-weight: 800;
}
.character_hr {
    padding: 10px;
    filter: sepia() saturate(30) hue-rotate(295deg);
    /*filter: sepia() saturate(30) hue-rotate(105deg);
    filter: sepia() saturate(30) hue-rotate(5deg);*/
}
.group_introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
}
.character_introduction {
    line-height: 2;
}

table {
    width: 100%;
    padding: 10px 25px;
}
.block_3 > table > tbody > tr > td:nth-child(2) {
    text-align: initial;
    padding-left: 15px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #b4b1a0;
}

.block_3 > table {
    padding: 30px 25px;
}

.title {
    background-image: url("../pic/tip.png");
    width: 240px;
    height: 28px;
    color: white;
    font-weight: 800;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 10px;
}
.block_4 > .title, .block_5 > .title {
    padding: 0px 27px;
    margin-top: 20px;
    height: 27px;
}
.block_4 > table > tbody > tr > td, .block_5 > table > tbody > tr > td {
    text-align: center;
    line-height: 2;
    border-style: dotted;
    border-color: #b4b1a0;
    border-collapse: collapse;
    border-width: 0px 2px 2px 0px;
}
.block_4 > table > tbody > tr:first-child > td, .block_5 > table > tbody > tr:first-child > td {
    border-top-width: 2px;
}
.block_4 > table > tbody > tr > td:last-child, .block_5 > table > tbody > tr > td:last-child {
    border-right-width: 0px;
}
.block_4 > table > tbody > tr > td:first-child {
   padding: 0px 15px;
}
/*問*/
.block_5 > table > tbody > tr > td:not(:first-child) {
    width: 80px;
}
/*答*/
.block_5 > table > tbody > tr > td:first-child {
    text-align: initial;
    padding: 0px 15px;
}

.data_ori {
    font-size: 8px;
    text-align: center;
    bottom: 0px;
    color: #c1bbbb;
}
.data_ori > a {
    color: #c1bbbb;
    text-decoration: none;
}